.mirror {
    transform: scaleX(-1);
}

.cat-container {
    transition: left ease-out 0.5s;
    position: fixed;
    bottom: 0px;
    left: 0px;
    filter: drop-shadow(2px 4px 6px rgb(168, 168, 168));
    user-select: none;
    cursor: pointer;
    z-index: 100000;
}

.cat-hat {
    position: fixed;
}

.cat-container.hidden {
    left: -300px;
}

.heart {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    content:url("../cat-view/heart.png");
    transition: all ease-out 0.75s;
    z-index: 1000000;
}

.dialog-cat {
    /* position: relative;
    display: inline-block; */
    position: absolute;
    /* top: -100%; */
    /* right: 100%; */
    bottom: 100%;
    left: -60%;
    width: 300px;
    min-height: 200px;
    /* transform: scaleX(-1); */
    /* background: white; */
}

.border-svg {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translate(200px, 400px) scale(.4);
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}

/* .dialog-cat-text-active {
    transform: scaleX(-1);
} */

.dialog-cat-text {
    opacity: 0;
    visibility: hidden;
    height: 100%;
    padding: 40px;
    transform: translate(200px, 400px) scale(.4) scaleX(-1);
    transition: all .3s ease;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-cat-text {
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 20px;
    text-align: center;
}

.border-svg-active,
.dialog-cat-text-active {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    visibility: visible;
}

.dialog-cat-text-active {
    transform: scaleX(-1);
}

.small-icon-cat {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 150px;
    height: 150px;
    z-index: 100000;
    border: 5px solid #333;
    background: #ffcf08;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
}

.small-icon-cat-hide {
    transform: translateX(-300px);
}

.small-cat {
    width: 150px;
    height: 120px;
}

.close-cat {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    padding: 20px;
    top: -40px;
    height: 50px;
    width: 50px;
    right: 10px;
    background: white;
} 

.close-cat svg {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
}
